{% extends 'pages/admin/admin_base.html.twig' %}

{% block body %}

    <h1>Mes skills</h1>
    <p><a class="btn btn-primary" href="{{ path('skill_add') }}">Ajouter</a></p>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Nom</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for skill in skills %}
        <tr>
            <th>{{ skill.id }}</th>
            <td>{{ skill.name }}</td>
            <td>{{ skill.description }}</td>
            <td> <img src="{{ skill.image }}" style="width: 100px; object-fit: cover;"></td>
            <td><a href="{{ path('skill_update', {"id" : skill.id}) }}">Modifier</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>





{% endblock %}