{% extends 'pages/admin/admin_base.html.twig' %}

{% block body %}
    <h1>Mes projets</h1>
    <p><a class="btn btn-primary" href="{{ path('project_add') }}">Ajouter</a></p>


    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Nom</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">SKill</th>

            <th scope="col"></th>
            <th scope="col"></th>



        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <th>{{ project.id }}</th>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>

                <td> <img src="{{ asset('uploads/images/'~project.image) }}" style="width: 100px; object-fit: cover;"></td>
                {% for skill in project.skills %}  <td>{{skill.name}}</td> {% endfor %}


                <td><a class="btn btn-primary" href="{{ path('project_update', {"id" : project.id}) }}">Modifier</a></td>
                <td> <a class="btn btn-primary" href="{{ path('project_delete', {"id" : project.id}) }}">Supprimer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}