{% extends 'pages/admin/admin_base.html.twig' %}

{% block body %}

    <h1>Mes categories</h1>
    <p><a class="btn btn-primary" href="{{ path('category_add') }}">Ajouter</a></p>


    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Nom</th>
            <th scope="col"></th>



        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <th>{{ category.id }}</th>
                <td>{{ category.name }}</td>
                <td><a class="btn btn-primary" href="{{ path('category_update', {"id" : category.id}) }}">Modifier</a> <a class="btn btn-primary" href="{{ path('category_delete', {"id" : category.id}) }}">Supprimer</a></td>



            </tr>
        {% endfor %}
        </tbody>
    </table>






{% endblock %}